@import "/commonStyle/colors.scss";

.inputWithError{
  input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    border: 1px solid $primaryBlack;
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 14px;
    outline: none;
  }
  .valid  {
    border-color: $green;
  }
  .error {
    border-color: $red;
  }

  label {
    line-height: 2;
    text-align: left;
    display: block;
    margin-bottom: 13px;
    margin-top: 20px;
    color: $primaryBlack;
    font-size: 14px;
    font-weight: 200;
  }

  p {
    color: $red;
  }

  p::before {
    display: inline;
    content: "⚠ ";
  }
}